#article-header {
    color: red;
}

.heading {
    color: blue;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
} 

.todo {
    width: 300px;
    text-align: center;
    color: red;
    border: 5px;
    border-radius: 5px;
    font-weight: bold;
    list-style: none;
    margin: 10px;
}

header {
    text-align: left;
    height: 80px;
    padding: 40px;
    color: gold;
   
}

main {
    margin: auto;
    padding-left: 25%;
}

#headingg {
    list-style-type: none;
}

footer {
    margin: 30%;
}